* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --bg-corprincipal: #fff;
  --bg-corverde: #2ecc71;
  --bg-corfooter: #3498db;

  --color1: #000;
  --color2: #fff;
  --color3: #3498db;
  --fonte1: 15px;
}

body {
  font-family: sans-serif;
  font-weight: bold;
  height: 100vh;
  width: 100%;
  background-color: var(--bg-corprincipal);
}

main {
  position: relative;
  display: flex;
  margin: 20px auto;
  justify-content: space-evenly;
  max-height: 90%;
}

.container {
  max-width: 1600px;
  display: flex;
}

header {
  border-bottom: 2px solid #2ecc71;
}

header nav ul {
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  display: flex;
}

header nav ul li a {
  text-decoration: none;
  color: var(--color1);
  font-size: var(--fonte1);
}

header nav ul li a:hover {
  text-decoration: underline;
  color: var(--color3);
}

header nav ul li {
  list-style: none;
}

article {
  flex: 1;
}
article div form {
  width: 380px;
  padding: 40px;
  margin: 20px auto;
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  text-align: center;
}

h1 {
  font-weight: bold;
  margin: 10px auto 20px auto;
}

form {
  border: 4px solid #2ecc71;
  border-radius: 10%;
}

.box input[type="email"],
.box input[type="password"] {
  border: 0px;
  background: none;
  display: inle-block;
  margin: 20px auto;
  text-align: center;
  border: 4px solid var(--bg-corfooter);
  padding: 14px 10px;
  width: 180px;
  outline: none;
  border-radius: 20px;
  transition: 0.25s;
}

.box input[type="email"]:focus,
.box input[type="password"]:focus {
  border: 4px solid #2ecc71;
  width: 250px;
}

.box input[type="submit"] {
  border: 0px;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 4px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  border-radius: 20px;
  transition: 0.25s;
  cursor: pointer;
}

.box input[type="submit"]:hover {
  background: #2ecc71;
}

.icone {
  margin: 0 auto;
}
.mapa {
  max-height: 380px;
  max-width: 40%;
}

footer {
  position: absolute;
  max-height: 100px;
  width: 100%;
  padding: 20px 20px;
  margin: 0 auto;
  text-align: center;
  background-color: var(--bg-corfooter);
  bottom: 0;
}

@media (max-width: 1000px) {
  .container {
    display: flex;
  }
  article {
    justify-content: flex-end;
  }
  footer {
    justify-content: flex-end;
  }
}
