*{
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
    color: #2c3e50;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: column;
    justify-content: center;
    align-items: center;
    background-color: #bdc3c7;
    width: 400px;
    height: auto;
    padding: 20px;
    margin:20px;
    border-radius: 10%;
}

h1{
    margin-bottom: 10px;
}

#checkbox{
    text-decoration: none;
    color:#2c3e50;
}
.botoes{
    width: 150px;
    height: 25px;
    font-weight: bolder;
    border-radius: 10px;
    margin-top: 10px;
}
.botoes:hover{
    background-color:#7f8c8d;
    color: #ffffff;

}